body{background-color:#FFEC53}

#cabecera{
	background-color:#161717;
	height:12ex;
	width:100%;
	text-align:center;
}

#titulo{
	line-height: 6ex;
	color:white;
	font-size:4ex;
	font-weight: bold;
}

.opciones{
	background-color:#333333;
	height:12ex;
	width:100%;
	text-align:center;
	margin-top:2ex;
}

.opciones:active{
	background-color:#FECA38;
}

.contenedores{
	line-height: 6ex;
	color:white;
	font-size:4ex;
	font-weight: bold;
}

.contenedores_seguidos{
	line-height: 1.5ex;
	color:white;
	font-size:4ex;
	font-weight: bold;
}